<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.doanchuyennganh_nhom5"
    tools:ignore="CoarseFineLocation">
    <!-- permissions for internet -->
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAnChuyenNganh_Nhom5">
        <activity
            android:name=".Admin.CapNhat_TaiKhoan"
            android:exported="true" />
        <activity
            android:name=".Admin.Sua_Video_List"
            android:exported="true" />
        <activity
            android:name=".Admin.ThemListVideo"
            android:exported="true" />
        <activity
            android:name=".Admin.Them_Video"
            android:exported="true" />
        <activity
            android:name=".Admin.QL_Taikhoan"
            android:exported="true" />
        <activity
            android:name=".Admin.QL_Video"
            android:exported="true" />
        <activity
            android:name=".Admin.CapNhat_Video"
            android:exported="true" />
        <activity
            android:name=".Admin.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.TimKiem"
            android:exported="true" />
        <activity
            android:name=".Activity.HoTroKhachHang"
            android:exported="true" />
        <activity
            android:name=".Activity.PlayvideoActivity"
            android:exported="true" />
        <activity
            android:name=".Test.myvideo"
            android:exported="true" />
        <activity
            android:name=".Activity.GopY"
            android:exported="true" />
        <activity
            android:name=".Activity.Khovideo"
            android:exported="true" />
        <activity
            android:name=".Activity.Dangnhap"
            android:exported="true" />
        <activity
            android:name=".Activity.CapNhat"
            android:exported="true" />
        <activity
            android:name=".Activity.DangKy"
            android:exported="true" />
        <activity
            android:name=".Activity.Home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>